/* * {
  outline: 1px dotted red;
  //공사중표시

} */

html,
body,
a,
h1,
h2,
h3,
h5,
div {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  /* outline: 1px dotted blue; */
}

header,
footer {
  border-bottom: 1px solid black;
}
footer {
  border-top: 1px solid black;
}

h1 {
  font-size: 50px;
}

header,
.section__body {
  margin: 0 auto;
  max-width: 1200px;
}

.art h2 {
  font-size: 200px;
  display: inline-block;
  vertical-align: 23px;
}
.art figure {
  display: inline-block;
}

.nav-scroll__btn:hover {
  border-bottom: 3px solid black;
}

.nav-fixed {
  top: 0;
  line-height: 65px;
  /* line-height를 적용해 줘야만 vertical-align: middle을 쓸 수 있다 */
  position: fixed;
  width: min(1200px, 100%);
  height: 65px;
  background-color: white;
  z-index: 999;
}

.nav-fixed img {
  vertical-align: middle;
  margin-right: 5px;
}

.nav-fixed__left {
  display: inline-block;
}

.nav-fixed__right {
  float: right;
}

.nav-fixed__search {
  float: right;
}

.nav-scroll {
  position: fixed;
  margin-top: 65px;
  padding: 10px 5px;
  z-index: 998;
  background: white;
  width: min(1200px, 100%);
  box-sizing: border-box;
}

.nav-scroll__btn {
  display: inline;
}

.main {
  position: relative;
}
.section__title-bg {
  margin: 50px 0 50px;
  background: url(assets/img/art3.jpg) no-repeat 0 / cover;
  /* 색이반고윙크 */
  height: 50vh;
  filter: blur(5px);
}
.section__title-text {
  padding: 30px;
  top: 143px;
  width: 100vw;
  height: 300px;
  position: absolute;
  background-color: rgba(156, 156, 156, 0.487);
  border-radius: 10px;
}

.section__title-text h1,
.section__title-text h3 {
  color: white;
  text-shadow: 1px 1px 3px rgb(38, 38, 38);
  margin-bottom: 40px;
}
.section__body {
  position: relative;
}
.section__body figure img {
  width: 311px;
}

.desc {
  height: 0;
  width: 1140px;
  overflow-y: scroll;
  margin: 0 auto;
  transition: height 0.3s ease-out;
}
.nobar {
  line-height: 1.2;
}

.nobar:hover h2 {
  border-bottom: 3px solid black;
}
.nobar:hover .desc {
  margin-top: 10px;
  width: 1140px;
  height: 630px;
  transition: height 0.3s ease-in;
}

.desc p {
  font-size: 24px;
  text-align: justify;
}

.desc p::first-letter {
  font-size: 30px;
  font-weight: bold;
}

.btn-right {
  float: right;
}

.btn {
  margin: 0 auto;
  display: inline-block;
  position: fixed;
  left: 9vw;
  bottom: 4vh;
}

.btn > h3 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-shadow: 1px 0 #bbb, 0 1px #bbb, -1px 0 #bbb, 0 -1px #bbb;
  line-height: 24px;
  margin-top: 12px;
}

.btn.fixed {
  text-align: center;
  width: 140px;
  height: 50px;
  background-image: linear-gradient(
    to bottom,
    rgb(219, 217, 217) 10%,
    rgb(234, 234, 234) 50%,
    rgb(149, 148, 148)
  );
  border-radius: 10px;
}

footer {
  margin: 0 auto;
  max-width: 1200px;
}
footer > div {
  display: inline-block;
  padding: 10px;
}
.ftr {
  float: right;
}

.ftr > a {
  display: inline-block;
}

/******************************
    [미디어쿼리]
*****************************/

/* 1180 미디어쿼리 시작 */

@media screen and (max-width: 1180px) {
  .section__body figure img {
    width: 90vw;
  }
  iframe {
    display: none;
  }
  main {
    width: 100vw;
  }
  figure > img {
    width: 80vw;
  }
  h2 {
    font-size: 10vh;
  }
  .desc {
    height: auto;
    width: 90vw;
    overflow: hidden;
  }
  .nobar:hover .desc {
    margin-top: 0px;
    width: 90vw;
    height: auto;
    transition: height 0s ease-in;
  }
  .nobar:hover h2 {
    border-bottom: 0px solid black;
  }
}

/* 1180 미디어쿼리 끝 */
/* 800 미디어쿼리 시작 */

@media screen and (max-width: 800px) {
  body .art h2 {
    font-size: 10vh;
  }
}
/* 800 미디어쿼리 끝 */
