* {
  outline: 1px dotted red;
}

html,
body,
a,
h1,
h2,
h3,
h5,
div {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  /* outline: 1px dotted blue; */
}
body {
}
header,
footer {
  border-bottom: 1px solid black;
}
footer {
  border-top: 1px solid black;
}

h1 {
  font-size: 50px;
}

header,
.section__body {
  margin: 0 auto;
  max-width: 1200px;
}

.art h2 {
  font-size: 200px;
  display: inline-block;
  vertical-align: 23px;
}
.art figure {
  display: inline-block;
}

.nav-fixed {
  top: 0;
  line-height: 65px;
  /* line-height를 적용해 줘야만 vertical-align: middle을 쓸 수 있다 */
  position: fixed;
  width: min(1200px, 100%);
  height: 65px;
  background-color: white;
  z-index: 999;
}

.nav-fixed img {
  vertical-align: middle;
  margin-right: 5px;
}

.nav-fixed__left {
  display: inline-block;
}

.nav-fixed__right {
  float: right;
}

.nav-fixed__search {
  float: right;
}

.nav-scroll {
  margin-top: 65px;
  padding: 10px 5px;
}

.nav-scroll__btn {
  display: inline;
}

.main {
  position: relative;
}
.section__title-bg {
  margin: 50px 0 50px;
  background: url(assets/img/art3.jpg) no-repeat 0 / cover;
  /* 색이반고윙크 */
  height: 50vh;
  filter: blur(5px);
}
.section__title-text {
  top: 200px;
  margin: 0 auto;
  width: 1200px;
  height: 300px;
  position: absolute;
  background-color: #555;
  display: block;
  margin: 0 auto;
}

.section__title-text h1,
.section__title-text h3 {
  color: white;
  text-shadow: 1px 1px 3px rgb(38, 38, 38);
}

.section__body figure img {
  width: 311px;
}

.desc {
  width: 1140px;
  height: 630px;
  overflow-y: scroll;
  margin: 0 auto;
}

.desc p {
  font-size: 24px;
  text-align: justify;
}

.desc p::first-letter {
  font-size: 30px;
  font-weight: bold;
}

.btn-right {
  float: right;
}

.btn a {
  color: aliceblue;
}

.btn {
  text-align: center;
  line-height: 40px;
  width: 120px;
  height: 40px;
  background-image: linear-gradient(to bottom, #ddd, #555);
  border-radius: 10px;
}
footer {
  margin: 0 auto;
  max-width: 1200px;
}
footer > div {
  display: inline-block;
  padding: 10px;
}
.ftr {
  float: right;
}

.ftr > a {
  display: inline-block;
}
